@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>

<p>
    Very sorry，We have an unexpected error
    <a href="javascript:history.go(-1)">Back to previous page</a>
</p>

<hgroup>
   
</hgroup>
