
@{
    ViewBag.Title = "Order confirmation completed!";
}

<h2>Order confirmation completed!</h2>
<p>Thank you for your support and welcome to visit us again. Your order number is: @Model</p>
<p>
    Browse more Title：
    @Html.ActionLink("Store", "Index", "Home")
</p>

